doctype html
html
  head
    title DRIPO
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
        .row.wrap
           include leftbar
           .col-sm-7.middlebar
               label Select Patient
                 br
                 label Patient
                    select(name='patient')
                      option(value='b1') Anand
                      option(value='b2') Vishnu
                      option(value='b3') Sanjay
                      option(value='b4') Sruthi
                    label +Add Patient
                 br   
                 label Bed 
                    select(name='bed')
                      option(value='b1') B1
                      option(value='b2') B2
                      option(value='b3') B3
                      option(value='b4') B4
                 br
                 br 
                 label Add Medication    
                 form.add-patient(role='form')          
                   label(for='medname') Name              
                    input#pname(type='text', placeholder='Medcine Name')                             
                   br
                   label(for='pwt') Volume             
                    input#pwt(type='text', placeholder='Volume in ml')   
                   br   
                   label(for='pwt') Rate             
                    input#pwt(type='text', placeholder='Rate in ml/hr')   
                   br        
                   label Schedule
                    
                   div.actions
                    input(type="submit", value="Add")
           include rightbar
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
