h2 Add Patient
form(role='form',action="/addpatient",method="post")
                h4 Personal Details
                .form-group
                .col-sm-4
                  input.form-control(type='text', name="pname", placeholder='Name')
                .col-sm-4
                  input.form-control(type='text', name="pwt", placeholder='Weight')
                .col-sm-4
                  input.form-control(type='text', name="pgen", placeholder='Gender')
                  br
                .col-sm-12
                  select.form-control(name='cars')
                    option(value='volvo') Volvo
                    option(value='saab') Saab
                   br
               
                h4 Medications
                .col-sm-4
                  input.form-control(type='text', name="mname", placeholder='Name')
                .col-sm-4
                  input.form-control(type='text', name="mrate", placeholder='ml/hr')
                br  
                button.btn.btn-default(type='submit') Add 
                &nbsp;
