.col-sm-1.leftbar
      div.iconmain
        span.glyphicon.glyphicon-menu-hamburger
      div.icon(data-url="/home")
        span.glyphicon.glyphicon-home
        div Home
      div.icon(data-url="/addpatient")
        span.glyphicon.glyphicon-user
        div Add Patient
      div.icon(data-url="/addbed")
        span.glyphicon.glyphicon-off
        div Add Bed
      div.icon(data-url="/addbed")
        span.glyphicon.glyphicon-phone
        div Add Device
      div.icon(data-url="/addivset")
        span.glyphicon.glyphicon-tint
        div Add IV set
    
