@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html,body,.row {
  height:100%;
  overflow:hidden;
}
.row > div {
  height:100%;
}
.leftbar{
background:#2E2E2E;
height:100%;
}
.middlebar{
background:#FCFCFC;
overflow:scroll;
}
.middlebar .card{
border-radius:.1em;
padding:10px;
padding-bottom:0px;
height:200px;
}

.middlebar .span{
border-radius:.1em;
border:1px solid #CCCCCC;
}
.wrap{
height:100%;
}
